<h1> MMORPS </h1>

<table>
  <tr>
    <th>Player</th>
    <th>Computer</th>
  </tr>
  <tr>
    <td><%= session[:player_score] %></td>
    <td><%= session[:computer_score] %></td>
  </tr>
</table>
<p> <%= game_summary %></p>
<p> <%= game_winner %></p>


<form class="" action="/mmorps" method="post">
  <label for="player_input">Rock</label>
  <input type="submit" name="player_choice" value="Rock">

  <label for="player_input">Paper</label>
  <input type="submit" name="player_choice" value="Paper">

  <label for="player_input">Scissors</label>
  <input type="submit" name="player_choice" value="Scissors">
</form>
