.banner {
    background:url(/img/rps3.png) no-repeat center;
}

h1, h4 {
  color: white;
}

.button {
  background-color: white;
  color: black;
}

.play_again_content {
  margin-bottom: 150px;
}

.player {
  color: #e67e22;
}

.cpu {
  color: #f1c40f;
}
